<section class="min-h-screen bg-pegasus-dark p-8 font-montserrat text-pegasus-text">

  <div class="text-center mb-10">
    <h1 class="font-orbitron text-5xl md:text-6xl font-black tracking-tighter text-white drop-shadow-md">
      NOMADIX
    </h1>
    <p class="font-montserrat text-pegasus-accent text-sm md:text-base tracking-[0.3em] uppercase mt-2">
      El buscador de tu próxima aventura
    </p>
  </div>

  <div class="max-w-md mx-auto mb-12">
  <!-- Agregamos rounded-xl y cambiamos el shadow por uno más profundo y menos neón -->
  <div class="join w-full shadow-2xl shadow-black/50 rounded-xl overflow-hidden border border-slate-700/50">
    <input
      [(ngModel)]="searchTerm"
      (keyup.enter)="buscarPais()"
      class="input input-bordered join-item w-full text-white placeholder-slate-500 bg-pegasus-card/80
             border-none focus:outline-none focus:bg-pegasus-card transition-all"
      placeholder="Escribe un país (ej: Mexico)..." />

    <button
      (click)="buscarPais()"
      class="btn join-item bg-pegasus-accent hover:bg-sky-400 border-none text-slate-950 font-black px-8 transition-all duration-300 ease-in-out hover:tracking-widest">
      BUSCAR
    </button>
  </div>
</div>

  @if (countries().length === 0) {
    <div class="text-center mt-20 animate-fade-in">
      <h2 class="text-neon-violet font-orbitron text-2xl mb-4">
        ¿DÓNDE SERÁ TU PRÓXIMA AVENTURA?
      </h2>
      <p class="text-pegasus max-w-md mx-auto text-center text-lg leading-relaxed">
        Nosotros te ayudamos a que esa aventura sea posible.
        Solo coloca el país a donde quieres ir y armaremos el viaje de tus sueños.
      </p>
    </div>
  } @else {
    <!-- Boton de la tarjeta -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      @for (item of countries(); track item.cca3) {
        <div class="bg-pegasus-card border border-slate-800 p-6 rounded-2xl shadow-xl transition-all duration-300 hover:scale-[1.02] hover:border-pegasus-accent/40 group">

          <!-- Componente de información pura -->
          <country-info [country]="item" />

          <div class="mt-8">
            <button
              (click)="verDetalles(item.cca3)"
              class="btn bg-transparent border-2 border-pegasus-accent text-pegasus-accent hover:bg-pegasus-accent hover:text-slate-950 w-full font-bold tracking-widest transition-all rounded-lg">
              VER AVENTURA
            </button>
          </div>
        </div>
      }
    </div>
  }

  <!-- Mensaje de Error (País no encontrado) -->
    <div *ngIf="error()" class="mt-8 flex items-center justify-center animate-bounce">
      <div class="bg-red-500/10 border border-red-500/50 text-red-400 px-6 py-4 rounded-xl flex items-center gap-3">
        <span class="text-xl">⚠️</span>
        <span class="font-bold tracking-tight">Vaya, parece que ese destino no está en nuestro radar. ¡Intenta con otro!</span>
      </div>
    </div>
