<section class="min-h-screen bg-dark-bg p-8 font-montserrat text-white">

  <div class="text-center mb-10">
    <h1 class="font-orbitron text-5xl md:text-6xl text-neon-violet tracking-[0.2em] drop-shadow-[0_0_15px_rgba(157,0,255,0.6)]">
      NOMADIX
    </h1>
    <p class="font-montserrat text-neon-cyan text-sm md:text-base tracking-[0.3em] uppercase mt-2">
      El buscador de tu próxima aventura
    </p>
  </div>

  <div class="max-w-md mx-auto mb-12">
    <div class="join w-full shadow-[0_0_15px_rgba(0,242,255,0.2)]">
      <input
        [(ngModel)]="searchTerm"
        (keyup.enter)="buscarPais()"
        class="input input-bordered join-item w-full bg-neutral-900 border-neon-cyan focus:border-neon-cyan"
        placeholder="Escribe un país (ej: Mexico)..." />
      <button
        (click)="buscarPais()"
        class="btn btn-primary join-item bg-neon-cyan border-neon-cyan text-black hover:bg-cyan-400">
        BUSCAR
      </button>
    </div>
  </div>

  @if (countries().length === 0) {
    <div class="text-center mt-20 animate-fade-in">
      <h2 class="text-neon-violet font-orbitron text-2xl mb-4">
        ¿DÓNDE SERÁ TU PRÓXIMA AVENTURA?
      </h2>
      <p class="text-gray-400 max-w-md mx-auto">
        Nosotros te ayudamos a que esa aventura sea posible.
        Solo coloca el país a donde quieres ir y armaremos el viaje de tus sueños.
      </p>
    </div>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 ">
      @for (item of countries(); track item.cca3) {
        <div class="bg-neutral-900 border border-neon-pink p-6 rounded-xl shadow-[0_0_10px_rgba(255,0,127,0.1)] transition-all hover:scale-105 hover:shadow-[0_0_20px_rgba(0,242,255,0.4)]">
          <country-info [country]="item" />
          <div class="mt-6">
            <button
              (click)="verDetalles(item.cca3)"
              class="btn btn-outline btn-xs border-neon-cyan text-neon-cyan hover:bg-neon-cyan hover:text-black w-full font-orbitron">
              Ver Aventura
            </button>
          </div>
        </div>
      }
    </div>
  }

  <div *ngIf="error()" class="alert alert-error bg-red-950 border-red-500 text-red-200 mb-6">
    <span>{{ error() }}</span>
  </div>
</section>
