
<section class="min-h-screen bg-pegasus-dark p-6 md:p-12 flex flex-col gap-10">

  <!-- Botón Volver -->
  <button
    routerLink="/"
    class="flex items-center gap-2 text-pegasus-muted hover:text-pegasus-border transition-colors self-start font-bold uppercase tracking-widest text-xs">
    <span class="text-lg text-pegasus-border"> ← </span> Volver a la exploración
  </button>

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-10">

    <!-- Columna Izquierda: Identidad del País (4 columnas) -->
    @if (selectCountry() ; as  country) {
      <div class="lg:col-span-5 flex flex-col">
        <div class="relative mb-8">
          <h1 class="text-6xl md:text-8xl font-black text-pegasus-highlight tracking-tighter leading-none">
            {{ country?.translations?.['spa']?.common }}
          </h1>
          <!-- Línea Pegasus -->
          <div class="h-2 w-32 bg-pegasus-border mt-4 rounded-full shadow-lg shadow-sky-500/20"></div>
        </div>

        <!-- Tarjeta de Información General -->
        <div class="bg-pegasus-card border border-pegasus-border p-8 rounded-3xl shadow-2xl">
          <country-info [country]="country" />
        </div>
      </div>
    }

    <!-- Columna Derecha: El "Hub" de Componentes (7 columnas) -->
    <article class="lg:col-span-7 flex flex-col">
      @if (selectCountry()) {
        <!--  Clima  y Historial (Open-Meteo) -->
        <div class="bg-slate-900/50 border border-dashed border-pegasus-border p-6 rounded-3xl flex flex-row gap-3 items-center justify-center min-h-[250px] mb-6">
          <weather-info
            [lat]="selectCountry()!.latlng[0]"
            [lng]="selectCountry()!.latlng[1]"
          />
          <div class="border border-black p-2">
            <h1>Aqui ira el historial del clima del pais</h1>
          </div>
        </div>

        <div class="bg-pegasus-card border border-pegasus-border p-6 rounded-3xl shadow-2xl flex flex-row gap-6 flex-1">
          <div class="w-1/2 border border-black p-2" >
            Aqui Ira el cambio de Monedas
          </div>
          <div class="w-1/2 border border-black p-2" >
            Palabras Clave del pais para el vaijes
          </div>
        </div>

      }
    </article>

    <article class="lg:col-span-12 w-full">
      @if (selectCountry()) {

        <!-- Lugares que ver (Geoapify)-->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <country-attractions
            [countryCode]="selectCountry()!.cca2"
            [lat]="selectCountry()!.latlng[0]"
            [lng]="selectCountry()!.latlng[1]"
          />
        </div>

        <div>
            <h3>Hola</h3>
        </div>
      }
    </article>
  </div>

</section>
