/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

// Configuración de DaisyUI para la v4
@plugin "daisyui";

@theme {

  /* Paleta */
  --color-pegasus-dark: #0f172a;    /* Deep Sea (Slate 950) */
  --color-pegasus-card: #1e293b;    /* Fondo de tarjetas (Slate 800) */
  --color-pegasus-accent: #0ea5e9;  /* Azul Cielo (Sky 500) */
  --color-pegasus-text: #f8fafc;    /* Blanco Nube */
  --color-pegasus-muted: #94a3b8;   /* Gris Azulado */




  /* Esto nos permitirá usar fuentes personalizadas después */
  --font-orbitron: "Orbitron", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
