/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

// Configuración de DaisyUI para la v4
@plugin "daisyui";

@theme {

  /* Paleta Atlas Light - Sustimos los valores Hex del anterio los nombre se quedaron */

  --color-pegasus-dark: #f8fafc;    /* Slate 50 (Fondo Principal) */
  --color-pegasus-card: #ffffff;    /* Blanco Puro (Fondo de tarjetas) */
  --color-pegasus-accent: #0284c7;  /* Sky 600 (Azul Corporativo más legible) */
  --color-pegasus-text: #0f172a;    /* Slate 950 (Texto Principal) */
  --color-pegasus-muted: #64748b;   /* Slate 500 (Gris para secundarios) */
  --color-pegasus-highlight: #0369a1; /* Azul un poco más oscuro (Sky 700) */

  /* Extras para el toque profesional */
  --color-pegasus-border: #e2e8f0;  /* Slate 200 (Bordes sutiles) */




  /* Esto nos permitirá usar fuentes personalizadas después */
  --font-orbitron: "Orbitron", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
